body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

    input[type=submit] {
        width: auto;
    }

label {
    font-size: 16px;
}

div#theForm{
    background-color: lightgrey;
}

    #theForm input[type=submit]{
        background-color: green;
        color: white;
    }

ul.productProps{
    font-size:small;
}

ul.productProps li{
    list-style-type:none;
}

.productInfo{
    border: 1px solid;
    display: inline-block;
    padding: 8px 2px ;
    margin: 2px;
    width: 450px;
    background-color: lightgray;
    border-radius: 5px;
}

.productInfo img{
    margin: 3px;
    float: left;
    border: 1px solid black;
    max-width: 150px;
}